*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face{
    font-family: "mifuente";
    src: url("Minecraft.ttf");
}
.contenedor{
    width: 100%;
    height: auto;
    background: chartreuse;
    display: flex;
    flex-direction: column;
    justify-content: center;
   
}
.texto{
    background: #fff;
    height: auto;
   display: grid;
   grid-template-areas: 
   "arriba";
   grid-template-columns: 100% ;
   grid-template-rows: 40em;
}
.imagen{
    grid-area: arriba;
    background:#fff;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    font-size: 1.3em;
    font-family: mifuente;
}

.fantasma{
    margin-top: 5em;
    padding-top: 1em;
    width: 40%;
    height: 44%;
    object-fit: cover;
    
}
/*.texto p{
    margin-top: 30em;
}*/